<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto mb-3">
      <form action="/restaurants/{{restaurant.id}}/edit?_method=PUT" method="post">
        {{> messages}}
        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">名稱</span>
          </div>
          <input type="text" name="name" class="form-control" placeholder="名稱" value="{{restaurant.name}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">英文名稱</span>
          </div>
          <input type="text" name="name_en" class="form-control" placeholder="英文名稱" value="{{restaurant.name_en}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">類別</span>
          </div>
          <input type="text" name="category" class="form-control" placeholder="類別" value="{{restaurant.category}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">圖片網址</span>
          </div>
          <input type="text" name="image" class="form-control" placeholder="圖片網址" value="{{restaurant.image}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">地址</span>
          </div>
          <input type="text" name="location" class="form-control" placeholder="地址" value="{{restaurant.location}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">電話</span>
          </div>
          <input type="text" name="phone" class="form-control" placeholder="電話" value="{{restaurant.phone}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">GoogleMap網址</span>
          </div>
          <input type="text" name="google_map" class="form-control" placeholder="GoogleMap網址"
            value="{{restaurant.google_map}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">評分</span>
          </div>
          <input type="text" name="rating" class="form-control" placeholder="評分" value="{{restaurant.rating}}">
        </div>

        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text">描述</span>
          </div>
          <input type="textbox" name="description" class="form-control" placeholder="描述"
            value="{{restaurant.description}}">
        </div>

        <div class="row justify-content-end mb-3">
          <button type="submit" class="btn btn-success">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>